ul.accordion { 
	background:#DDD; 
	width:80%; 
	margin:0 auto 30px; 
	padding:10px; 
	font-size:16px;
}
ul.accordion a { 
	display:block; 
	padding:10px; 
	background-position:97% center; 
	background-repeat:no-repeat; 
	text-decoration:none; 
	color:#333; 
	font-weight:bold;
}
ul.accordion span { 
	display:block; 
	padding:10px; 
	background-position:97% 
	center; 
	background-repeat:no-repeat; 
	color:#333; 
	font-weight:bold;
}
ul.accordion ul { display:none;}
ul.accordion > li {
	background: -moz-linear-gradient(top, #C6F0FE, #27BCF9); 
	background: -webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));
}
ul.accordion > li > p { 
	background: -moz-linear-gradient(top, #C6F0FE, #27BCF9); 
	background: -webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));
	cursor:pointer;
}
ul.accordion > li > p span { background-image:url(../img/open.png);}
ul.accordion > li > p span.open { background-image:url(../img/close.png);}
ul.accordion > li > ul > li { background:#999; border-bottom:1px solid #EEE;}
ul.accordion > li > ul > li > p { background:#999;}
ul.accordion > li > ul > li > a { background:url(../img/go.png) no-repeat 98% center;}
ul.accordion > li > ul > li > ul > li { background:#FFF; border-bottom:1px dotted #888;}
ul.accordion > li > ul > li > ul > li:last-child { border:none;}
dl.accordion { 
	background:#DDD; 
	width:80%; 
	margin:0 auto 30px; 
	padding:10px; 
	font-size:16px;
}
dl.accordion dt {
    background:url(../img/open.png) 97% center no-repeat,-moz-linear-gradient(top, #C6F0FE, #27BCF9);
    background:url(../img/open.png) 97% center no-repeat,-webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));
    border-bottom:1px solid #EEE; height:40px; 
    text-indent:10px; 
    line-height:40px; 
    color:#333; 
    font-weight:bold; 
    cursor:pointer;
}
dl.accordion dt.open {
    background:url(../img/close.png) 97% center no-repeat,-moz-linear-gradient(top, #C6F0FE, #27BCF9);
    background:url(../img/close.png) 97% center no-repeat,-webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));
}
dl.accordion dd { 
	background:#FFF; 
	padding:10px; 
	line-height:1.5; 
	display:none;
}
